/* 
This is more personal preference than anything but I keep root-level
CSS styling in this `index.css` file and do component-level styling
through styled-components. See `components/Header.js` for an example.
*/

body {
  font-family: Roboto;
  z-index: -99;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  margin: 2em 0;
}

@keyframes rotate {
  0% {
    transform: perspective(500px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(500px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}

#stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 240s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #fffefa;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -500px;
  transform: translate3d(0, 0, -500px);
  backface-visibility: hidden;
}
